ARCHRESEARCH_DATA_DIR=.archresearch
ARCHRESEARCH_DATABASE_URL=sqlite:///./.archresearch/archresearch.db
ARCHRESEARCH_PROVIDER_MODE=mock
ARCHRESEARCH_TEMP_ASSET_TTL_DAYS=7
ARCHRESEARCH_RUN_METADATA_TTL_DAYS=30

OPENAI_API_KEY=
OPENAI_RESEARCH_MODEL=gpt-5.5
OPENAI_VISION_MODEL=gpt-5.5

TINEYE_API_KEY=
TINEYE_API_URL=https://api.tineye.com/rest/

FIRECRAWL_API_KEY=
FIRECRAWL_API_URL=https://api.firecrawl.dev/v2
FIRECRAWL_CREDIT_RESERVE=100
